<!DOCTYPE html>
<html lang="en">

<head>
    <title>WELCOME TO THE PRINCE OF FOOTBALL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        WELCOME TO THE PRINCE OF FOOTBALL
    </div>

    <div class="dhurandar">
        <% images.forEach(img => { %>
            <div class="photo-card">
                <img src="<%= img %>" alt="football prince">
            </div>
            <% }) %>
    </div>

</body>

</html>